header{
    background-color: #010105;
    padding: 0.9%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}


header h1{
    font-size: 2.8em;
    font-weight: 200;
    cursor: pointer;
}

header nav{
    display: flex;
    align-items: center;
}

header nav a{
    margin-right: 1.6em;
    font-size: 1.47em;
    margin: 0px 2.6vh;
}

header h1:hover, a:hover{
    color: #ffff;
    transition: 0.26s ease-in-out;
}